.container {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(39, 38, 38, 0.24);
  top: 0;
  overflow: hidden;
}
.singleImageBox {
  width: 70%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  margin: 4rem auto;
  padding: 1rem;
  border-radius: 10px;
}
.singleImageHeader {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.headerClose {
  width: 1.5rem;
  cursor: pointer;
}
.headerClose img {
  width: 100%;
}
.image {
  width: 70%;
  height: 80%;
  margin-top: 2rem;
}
.image img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

@media only screen and (max-width: 600px) {
  .singleImageBox {
    width: 90%;
    height: auto;
  }
  .headerClose {
    width: 1rem;
  }
  .image {
    width: 90%;
  }
}
