* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
.app {
  max-width: 100%;
}
.resultBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem 3rem;
}

@media only screen and (max-width: 600px) {
  .resultBox {
    flex-wrap: wrap;
    padding: 1rem;
  }
}
